// Hamburger icon
.mainNavigation__HamburgerIcon
  display: none
  position: absolute
  left: 20px

.mainNavigation
  display: flex
  .mainNavigation__img
    width: 220px
  .mainNavigation__list
    display: flex
    list-style-type: none
    // .mainNavigation__wrapper
    //   .mainNavigation-link

