@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), local('Inter-Bold'),
    url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter-Bold.svg#Inter-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Black'), local('Inter-Black'),
    url('../assets/fonts/Inter-Black.woff2') format('woff2'),
    url('../assets/fonts/Inter-Black.svg#Inter-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter ExtraBold'), local('Inter-ExtraBold'),
    url('../assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-ExtraBold.svg#Inter-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter ExtraLight'), local('Inter-ExtraLight'),
    url('../assets/fonts/Inter-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Inter-ExtraLight.svg#Inter-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Light'), local('Inter-Light'),
    url('../assets/fonts/Inter-Light.woff2') format('woff2'),
    url('../assets/fonts/Inter-Light.svg#Inter-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'),
    url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../assets/fonts/Inter-Medium.svg#Inter-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter SemiBold'), local('Inter-SemiBold'),
    url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Thin'), local('Inter-Thin'),
    url('../assets/fonts/Inter-Thin.woff2') format('woff2'),
    url('../assets/fonts/Inter-Thin.svg#Inter-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}